
.vipTitle {
  margin-top: 50px;
}

.heading-2 {
  @apply text-[32px] md:text-[57px] leading-[42px] md:leading-[74px] font-bold;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
  width: 100%;
  height: 100%;
}

.container .box {
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0px;
  transition: 0.5s;
}

.subContainer {
  text-align: center;
}
.mintContainer {
  margin-top: 76px;
}

.container .box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}

.container .box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
  transition: 0.5s;
}

.container .box:hover:before,
.container .box:hover:after {
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
}

.container .box:nth-child(1):before,
.container .box:nth-child(1):after {
  background: linear-gradient(315deg, #bfc6d7, #181830, #454c5f);
}

.container .box:nth-child(2):before,
.container .box:nth-child(2):after {
  background: linear-gradient(315deg, #0adab9, #6a7ba8, #454c5f);
}

.container .box:nth-child(3):before,
.container .box:nth-child(3):after {
  background: linear-gradient(315deg, #bfc6d7, #0adab9, #454c5f);
}

.container .box span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

.container .box span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.container .box:hover span::before {
  content: '';
  position: absolute;
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
  background-size: cover;
  background-position: center;
}

.container .box:nth-child(1):hover span::before {
  background-image: url('/images/vip-stars/tier1.png');
}

.container .box:nth-child(2):hover span::before {
  background-image: url('/images/vip-stars/tier2.png');
}

.container .box:nth-child(3):hover span::before {
  background-image: url('/images/vip-stars/tier3.png');
}

.container .box span::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  animation-delay: -1s;
}

.container .box:hover span::after {
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

@keyframes animate {
  0%, 100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.container .box .content {
  position: relative;
  left: 0;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  backdrop-filter: blur(10px);
  z-index: 2;
  transition: 0.5s;
  color: #fff;
}

.container .box:hover .content {
  left: -25px;
  padding: 60px 40px;
}

.container .box .content h2 {
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
}

.container .box .content p {
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.container .box .content a {
  display: inline-block;
  font-size: 1.1em;
  color: #111;
  background: #0adab9;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 5px;
}

.container .box span::after {
  content: '';
  position: absolute;
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 0;
  background-size: cover;
  background-position: center;
  transition: 0.5s;
}

.container .box:nth-child(1) span::after {
  background-image: url('/images/vip-stars/price1.png');
}

.container .box:nth-child(2) span::after {
  background-image: url('/images/vip-stars/price2.png');
}

.container .box:nth-child(3) span::after {
  background-image: url('/images/vip-stars/price3.png');
}


.claimContainer {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px 0px;
  z-index: -99;
}

@media (max-width: 760px) {
  .claimContainer {
    width: 80%;

  }
  
}

.container .box.deluxeCard {
  margin-top: 80px; /* Adjust this value as needed */
}

.container .box.ultimateCard {
  margin-top: 80px; /* Adjust this value as needed */
}


/* Existing styles */

@media (min-width: 768px) {
  .container .box.deluxeCard {
    margin-top: 43px; /* Adjust this value as needed */
  }

  .container .box.ultimateCard {
    margin-top: 50px; /* Adjust this value as needed */
  }

  .subContainer {
    display: grid; /* Adjust
    justify-content: relative;
    align-items: absolute;
  }

  .container .box {
    width: calc(50% - 20px); /* Adjust the width and margin as needed */
    margin: 20px;
  }

  .container .box:nth-child(2):before,
  .container .box:nth-child(2):after {
    margin-left: -40px; /* Adjust the negative margin as needed */
  }
}
